name: CI

on:
  push:
    branches:
      - "main"
      - "v*.*.*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "26.0.2"
          gleam-version: "1.1.0"
      - uses: actions/setup-node@v3
        with:
          node-version: "16.18.1"
      - run: gleam test --target erlang
      - run: gleam test --target javascript
      - run: gleam format --check src test
